<a href="https://colab.research.google.com/github/suraj3004200/data-science/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
d=[{"a":"suraj","b":"singh"},{"a":"rohan","b":"sharma"},{"a":"gopal","b":""}]
data=pd.DataFrame(d)
data

       a       b
0  suraj   singh
1  rohan  sharma
2  gopal

In [ ]:
print("***nd array")
nd=np.linspace(1,10,20)
print(nd)
s=pd.Series(nd)
print(s)

***nd array
[ 1.          1.47368421  1.94736842  2.42105263  2.89473684  3.36842105
  3.84210526  4.31578947  4.78947368  5.26315789  5.73684211  6.21052632
  6.68421053  7.15789474  7.63157895  8.10526316  8.57894737  9.05263158
  9.52631579 10.        ]
0      1.000000
1      1.473684
2      1.947368
3      2.421053
4      2.894737
5      3.368421
6      3.842105
7      4.315789
8      4.789474
9      5.263158
10     5.736842
11     6.210526
12     6.684211
13     7.157895
14     7.631579
15     8.105263
16     8.578947
17     9.052632
18     9.526316
19    10.000000
dtype: float64

In [ ]:
df=pd.DataFrame([[10,None,20,30],[14.0,15.0,16.0,14.0],[30,20,9,1],[40,26,12,8]],columns=["apple","mango","orange","banana"],index=["bask1","bask2","bask3","bask4"])
print(df.quantile())

apple     22.0
mango     20.0
orange    14.0
banana    11.0
Name: 0.5, dtype: float64

In [ ]:
df.quantile(q=0.25)

apple     13.00
mango     17.50
orange    11.25
banana     6.25
Name: 0.25, dtype: float64

In [ ]:

df

       apple  mango  orange  banana
bask2   14.0   15.0    16.0    14.0
bask3   30.0   20.0     9.0     1.0
bask4   40.0   26.0    12.0     8.0

In [ ]:
#percentile
new_df=pd.DataFrame([[100,456,258,321],[124,96,456,324],[849,234,378,908]],columns=["Apple","Mango","Orange","Banana"],index=["supply1","supply2","supply3"])
new_df

         Apple  Mango  Orange  Banana
supply1    100    456     258     321
supply2    124     96     456     324
supply3    849    234     378     908

In [ ]:
df1=new_df.sort_index(axis=0)
df1

         Apple  Mango  Orange  Banana
supply1    100    456     258     321
supply2    124     96     456     324
supply3    849    234     378     908

p1=np.percentile(new_df,25)
p1

In [ ]:
arr=np.array([42,12,72,85,56,100])
sre1=pd.Series(arr)
q1=sre1.quantile(q=0.75)
print(" 75th the percintile is ",q1)
print("values that are greater than 75th percentile:")
for q in sre1:
  if(q>q1):
    print(q)

 75th the percintile is  81.75
values that are greater than 75th percentile:
85
100